<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="css/loader.min.css">
    <!-- 为该页面自定义的样式，合并时注意路径 -->
    <link rel="stylesheet" href="./expert.css">
</head>

<body style="margin: 0">
    <div id="app">

        <!-- 起占位作用的导航，需要替换 -->
        <el-menu
                :default-active="activeIndex1"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                type="flex" justify="center"
                active-text-color="#ffd04b">
            <el-menu-item index='1' style="width: 5%;min-width:80px;" @click.native="Reload_index">
                <img src='./img/logo.png' style="width: 45px; height: 45px;border-radius:50%;overflow: hidden;"></el-menu-item>
            <el-menu-item index="2" style="min-width:150px;font-weight: bold; width: 8%; text-align: center" @click.native="isAuthSearch=false">学术检索</el-menu-item>
            <el-menu-item index="3" style="min-width:150px;font-weight: bold; width: 8%; text-align: center" @click.native="isAuthSearch=true">学者频道</el-menu-item>
            <!--用户!-->
            <el-dropdown @command="handleCommand" style="float: right; right: 10px;top: 10px;text-align: center" trigger="click" >
          <span class="el-dropdown-link" >
            <el-image
                    style="width: 40px; height: 40px;border-radius:50%;overflow: hidden;"
                    :src="person_url"></el-image>
              <i class="el-icon-arrow-down el-icon--right"></i>
            </span>
                <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item command="a">{{user_op1}}</el-dropdown-item>
                    <el-dropdown-item command="b">退出</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu>

        <div id="expert_page">

            <!-- 页面顶部，专家信息栏 -->
            <div id="expert_intro">

                <!-- 专家图片+认证按钮 -->
                <div id="person_image">
                    <a href="javascript:;" id="person_portrait">
                        <el-image style="width: 112px; height: 112px;" src="" fit="cover">
                            <div slot="error"
                                style="background:#f5f7fa; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                <i class="el-icon-picture-outline"></i>
                            </div>
                        </el-image>
                    </a>
                    <el-button type="primary" id="person_authen">我要认证</el-button>
                </div>

                <!-- 该专家基本信息 -->
                <div id="person_info">
                    <div id="p_name">{{specName}}</div>
                    <div id="p_volume">1900人看过</div>
                    <div id="p_affiliate">{{specAffiliation}}</div>
                    <ul id="p_ach_wr">
                        <li class="p_ach_item">
                            <p class="p_ach_type">被引频次</p>
                            <p class="p_ach_num">{{specCited}}</p>
                        </li>
                        <li class="p_ach_item">
                            <p class="p_ach_type">成果数</p>
                            <p class="p_ach_num">{{specWorkNum}}</p>
                        </li>
                        <li class="p_ach_item">
                            <p class="p_ach_type">H指数</p>
                            <p class="p_ach_num">17</p>
                        </li>
                        <li class="p_ach_item" style="border-right: none;">
                            <p class="p_ach_type">G指数</p>
                            <p class="p_ach_num">27</p>
                        </li>
                    </ul>
                    <div class="person_editinfo">
                        <span style="float: left; color: #999;">领域:&nbsp;</span>
                        <span>
                            <a href="//xueshu.baidu.com/s?wd=%E9%80%BB%E8%BE%91%E5%AD%A6&amp;tn=SE_baiduxueshu_c1gjeupa&amp;ie=utf-8"
                                target="_blank" style="color: #505961;">逻辑学</a>
                        </span>
                    </div>
                </div>
            </div>

            <!-- 页面左下角，该专家的科技成果（包括资源实体和各类别统计数据）-->
            <div id="main_content_left">

                <div id="achievement_wr">
                    <div class="effectmap_pie">
                        <div class="pie_map_wrapper">
                            <div class="pie_map_container" data-type="journal">
                                <el-progress type="circle" :percentage="specJournalNum" :width="100" :show-text="false">
                                </el-progress>
                                <div class="pieText">期刊<p class="number">{{specJournalNum}}%</p>
                                    <p></p>
                                </div>
                            </div>
                            <div class="pie_map_container" data-type="conference">
                                <el-progress type="circle" :percentage="specSessionNum" :width="100" :show-text="false">
                                </el-progress>
                                <div class="pieText">会议<p class="number">{{specSessionNum}}%</p>
                                </div>
                            </div>
                            <div class="pie_map_container" data-type="booktitle">
                                <el-progress type="circle" :percentage="specZhuanzhuNum" :width="100" :show-text="false">
                                </el-progress>
                                <div class="pieText">专著<p class="number">{{specZhuanzhuNum}}%</p>
                                </div>
                            </div>
                            <div class="pie_map_container" data-type="other" style="margin:0;">
                                <el-progress type="circle" :percentage="specElseNum" :width="100" :show-text="false">
                                </el-progress>
                                <div class="pieText">其它<p class="number">{{specElseNum}}%</p>
                                </div>
                            </div>
                        </div>
                        <div class="pieMapTotal">总计<p class="number">{{specWorkNum}}</p>
                        </div>
                        <div class="pieBox journalBox" style="display: none;">
                            <h3>期刊 <span class="boxPercent">89.8%</span><span class="boxNumber">(共114篇)</span></h3>
                            <p>北大核心期刊<span class="numline" style="width:80px"></span><span class="boxnum">54</span></p>
                            <p>CSCD期刊数<span class="numline" style="width:70px"></span><span class="boxnum">47</span></p>
                            <p>中国科技核心<span class="numline" style="width:77px"></span><span class="boxnum">52</span></p>
                            <p>SCI期刊数<span class="numline" style="width:4px"></span><span class="boxnum">3</span></p>
                            <p>EI期刊数<span class="numline" style="width:21px"></span><span class="boxnum">14</span></p>
                            <p>SCIE期刊数<span class="numline" style="width:13px"></span><span class="boxnum">9</span></p>
                            <p>CSSCI期刊数<span class="numline" style="width:7px"></span><span class="boxnum">5</span></p>
                            <p>其他期刊数<span class="numline" style="width:56px"></span><span class="boxnum">38</span></p>
                        </div>
                        <div class="pieBox conferenceBox" style="display: none;">
                            <h3>会议论文<span class="boxPercent">7.1%</span><span class="boxNumber">(共9篇)</span></h3>
                            <p>其他会议数<span class="numline" style="width:80px"></span><span class="boxnum">9</span></p>
                        </div>
                        <div class="pieBox booktitleBox" style="top: 49px; left: 426px; display: none;">
                            <h3>图书<span class="boxPercent">3.1%</span><span class="boxNumber">(共4篇)</span></h3>
                        </div>
                    </div>
                    <!-- <div class="effectmap_line_wr" style="overflow: visible;">
                        
                        <div id="ach_map_wrapper" class="line_map_wrapper">
                            <div class="line_map_container" id="ach_map_container"><canvas width="340" height="110"
                                    id="ach_bgCanvas" class="line_map_canvas"
                                    style="width: 340px; height: 110px; z-index: 80;"></canvas><canvas width="340"
                                    height="110" id="ach_circleCanvas" class="line_map_canvas"
                                    style="width: 340px; height: 110px; z-index: 99;"></canvas><canvas width="340"
                                    height="110" id="ach_routeCanvas" class="line_map_canvas"
                                    style="width: 340px; height: 110px; z-index: 90;"></canvas><canvas width="20"
                                    height="20" id="ach_hoverCanvas" class="hoverCanvas"
                                    style="left: 315.143px; top: 25.8182px; display: inline;"></canvas>
                                <div class="textTips" style="left: 234.143px; bottom: 5px; display: block;"><span
                                        class="year">2017年成果数</span><span class="number">8</span></div>
                                <div class="lineTips"
                                    style="background-color: rgb(255, 192, 150); left: 324.143px; height: 71.1818px; display: block;">
                                </div>
                            </div>
                        </div>


                        <div id="cited_map_wrapper" class="line_map_wrapper">
                            <div class="line_map_container" id="cited_map_container"><canvas width="340" height="110"
                                    id="cited_bgCanvas" class="line_map_canvas"
                                    style="width: 340px; height: 110px; z-index: 80;"></canvas><canvas width="340"
                                    height="110" id="cited_circleCanvas" class="line_map_canvas"
                                    style="width: 340px; height: 110px; z-index: 99;"></canvas><canvas width="340"
                                    height="110" id="cited_routeCanvas" class="line_map_canvas"
                                    style="width: 340px; height: 110px; z-index: 90;"></canvas><canvas width="20"
                                    height="20" id="cited_hoverCanvas" class="hoverCanvas"
                                    style="left: 327px; top: 95.2px; display: inline;"></canvas>
                                <div class="textTips" style="left: 246px; bottom: 5px; display: block;"><span
                                        class="year">2018年被引量</span><span class="number">4</span></div>
                                <div class="lineTips"
                                    style="background-color: rgb(255, 192, 150); left: 336px; height: 1.8px; display: block;">
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div id="articlelist_wr">
                    <div id="articlelist_container">
                        <div class="in_content_rtop">
                            <div class="in_content_filter_wr">
                                <el-dropdown style="margin-right: 14px; font-size: 13px;">
                                    <span class="el-dropdown-link">
                                        全部年份<i class="el-icon-arrow-down el-icon--right"></i>
                                    </span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item command="a">2011</el-dropdown-item>
                                        <el-dropdown-item command="b">2012</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                                <el-dropdown style="margin-right: 14px; font-size: 13px;">
                                    <span class="el-dropdown-link">
                                        全部类型<i class="el-icon-arrow-down el-icon--right"></i>
                                    </span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item command="a">期刊</el-dropdown-item>
                                        <el-dropdown-item command="b">论文</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                                <el-dropdown style="margin-right: 14px; font-size: 13px;">
                                    <span class="el-dropdown-link">
                                        全部作者<i class="el-icon-arrow-down el-icon--right"></i>
                                    </span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item command="a">第一作者</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                                <el-dropdown style="margin-right: 14px; font-size: 13px;">
                                    <span class="el-dropdown-link">
                                        按时间降序<i class="el-icon-arrow-down el-icon--right"></i>
                                    </span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item command="a">按被引降序</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                                <!-- <div class="in_content_filter">
                                    <div class="year_sel_default filter_sel_default" data-target="sc_year"><span
                                            class="filter_sel_text">全部年份</span>
                                            <i class="el-icon-arrow-down"></i></div>
                                    <div class="year_filter_list filter_list scrollbar">
                                        <div class="boxarrow"><i class="boxarrow_border"></i></div>
                                        <div class="scrollbar_wrapper opui-scroll-ctrl-content opui-scroll-onwheel">
                                            <ul>
                                                <li class="select">全部年份</li>
                                                <li data-id="1990">1990</li>
                                                <li data-id="1991">1991</li>
                                                <li data-id="1992">1992</li>
                                                <li data-id="1993">1993</li>
                                                <li data-id="1994">1994</li>
                                                <li data-id="1995">1995</li>
                                                <li data-id="1996">1996</li>
                                                <li data-id="1997">1997</li>
                                                <li data-id="1998">1998</li>
                                                <li data-id="1999">1999</li>
                                                <li data-id="2000">2000</li>
                                                <li data-id="2001">2001</li>
                                                <li data-id="2002">2002</li>
                                                <li data-id="2003">2003</li>
                                                <li data-id="2004">2004</li>
                                                <li data-id="2005">2005</li>
                                                <li data-id="2006">2006</li>
                                                <li data-id="2007">2007</li>
                                                <li data-id="2008">2008</li>
                                                <li data-id="2009">2009</li>
                                                <li data-id="2010">2010</li>
                                                <li data-id="2011">2011</li>
                                                <li data-id="2012">2012</li>
                                                <li data-id="2013">2013</li>
                                                <li data-id="2014">2014</li>
                                                <li data-id="2015">2015</li>
                                                <li data-id="2016">2016</li>
                                                <li data-id="2017">2017</li>
                                                <li data-id="2018">2018</li>
                                            </ul>
                                        </div>
                                        <div class="opui-scroll-ctrl-scroll" data-click="{fm:&quot;beha&quot;}"
                                            style="height: 0px;">
                                            <div class="opui-scroll-axis" style="height: 0px;"></div>
                                            <div class="opui-scroll-slider OP_LOG_BTN">
                                                <div class="opui-scroll-s-top"></div>
                                                <div class="opui-scroll-s-bottom"></div>
                                                <div class="opui-scroll-s-block"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="in_content_filter">
                                    <div class="field_sel_default filter_sel_default" data-target="paper_type"><span
                                            class="filter_sel_text">全部类型</span><i class="el-icon-arrow-down"></i></div>
                                    <div class="field_filter_list filter_list">
                                        <div class="boxarrow"><i class="boxarrow_border"></i></div>
                                        <ul>
                                            <li class="select">全部类型</li>
                                            <li data-id="1">期刊</li>
                                            <li data-id="3">会议</li>
                                            <li data-id="4">专著</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="in_content_filter">
                                    <div class="author_sel_default filter_sel_default" data-target="first_author"><span
                                            class="filter_sel_text">全部作者</span><i class="el-icon-arrow-down"></i></div>
                                    <div class="author_filter_list filter_list">
                                        <div class="boxarrow"><i class="boxarrow_border"></i></div>
                                        <ul>
                                            <li class="select" data-id="0">全部作者</li>
                                            <li data-id="1">第一作者</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="in_content_filter">
                                    <div class="time_sel_default filter_sel_default" data-target="according_Cited"><span
                                            class="filter_sel_text">按时间降序</span><i class="el-icon-arrow-down"></i></div>
                                    <div class="time_filter_list filter_list">
                                        <div class="boxarrow"><i class="boxarrow_border"></i></div>
                                        <ul>
                                            <li class="select" data-id="0"> <a href="javascript:;"
                                                    class=" in_content_sort_link in_sort_sel"
                                                    data-sort="sc_time">按时间降序</a></li>
                                            <li data-id="1"><a href="javascript:;" class="in_content_sort_link"
                                                    data-sort="sc_cited">按被引降序</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="in_content_result_wr">
                            <div class="in_conternt_reslist">
                                    <!-- <el-pagination background layout="prev, pager, next" :total="1000"
                                    style="padding: 10px 0; text-align: center;"> -->
                                <div class="result" v-for="workI in specWork.slice((currentPage-1)*pageSize,currentPage*pageSize)">
                                    <div class="res_con">
                                        <h3 class="res_t"><a
                                                :href="'./works.html?PID='+workI['paperID']"
                                                target="_blank">{{workI["title"]}}</a></h3>
                                        <div class="res_info"><span class="res_year">{{workI["time"]}}</span>&nbsp;-&nbsp;<span><a
                                                    target="_blank">{{specName}}</a></span>&nbsp;-&nbsp;<a
                                                target="_blank">{{workI["source1"]+""}}</a>&nbsp;-&nbsp;<span
                                                class="res_cite"><span>被引量:&nbsp;</span><a
                                                    target="_blank" class="cite_cont ">{{workI["citedNum"]}}</a></span></div>
                                        <div class="res_tool">
                                            <a class="res_col c-icon-heart-hover" href="javascript:;" target="_blank"><i
                                                    class="c-icon c-icon-heart"></i><span style="display:inline-block;"
                                                    class="col_text">收藏</span></a><a class="res_q c-icon-shape-hover"
                                                href="javascript:;"><i
                                                    class="c-icon c-icon-shape"></i>引用</a><a target="_blank"
                                                class="c-icon-file-hover"
                                                    class="c-icon c-icon-file"></i>相关文章</a></div>
                                    </div>
                                    <div class="reqdata" style="display:none"></div>
                                </div>

                            </div>
                            <div class="res-pages-wr">
                                <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize" @current-change="currentChange"
                                    style="padding: 10px 0; text-align: center;">
                                </el-pagination>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="main_content_right">

                <div class="co_author_wr">
                    <h3><a href="javascript:;" class="co_author_more">&gt;&gt;专家关系网络</a><span>合作学者</span></h3>
                    <div class="co_authorlist">
                        <div class="co_author_item" v-for="specI in simiSpec">
                            <a :href="'./expert.html?UID='+UID+'&SID='+specI['id']" target="_blank" class="au_img_link">
                                <el-image style="width: 50px; height: 50px;" src="" fit="cover">
                                    <div slot="error"
                                        style="background:#f5f7fa; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                        <i class="el-icon-picture-outline"></i>
                                    </div>
                                </el-image>
                            </a><span class="au_info">
                                <p><a :href="'./expert.html?UID='+UID+'&SID='+specI['id']" target="_blank"
                                        class="au_name">{{specI["name"]}}</a></p>
                                <p><span class="au_label">{{specI["affiliation"]}}</span></p>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="co_affiliate_wr">
                    <h3>合作机构</h3>
                    <ul class="co_affiliate_list">
                        <li><span title="北京航空航天大学计算机科学与工程系" class="co_paper_name">
                                <span>北京航空航天大学计算机科学与工程系</span>
                            </span>
                            <span class="co_paper_line">
                                <span style="width: 100px; margin-right: 6px; vertical-align: middle;">
                                    <el-progress :percentage="100" :show-text="false" :stroke-width="16"></el-progress>
                                </span>
                                <span class="co_paper_count">21</span>
                            </span>
                        </li>
                        <li>
                            <span title="北京航空航天大学计算机科学与工程系" class="co_paper_name">
                                <span>北京航空航天大学计算机学院</span>
                            </span>
                            <span class="co_paper_line">
                                <span style="width: 100px; margin-right: 6px; vertical-align: middle;">
                                    <el-progress :percentage="50" :show-text="false" :stroke-width="16"></el-progress>
                                </span>
                                <span class="co_paper_count">9</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</body>

<style>
    .el-select .el-input {
        width: 130px;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }
</style>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script> -->

<script>
    // $.post('checkSpec.php', {SID:SID, UID:UID},
    // function(data){
    //     alert(data.body);
    // } );
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return 1;
    }

    var vm = new Vue({
        el: '#app',
        data: {
            SID: getQueryString("SID"),
            UID: getQueryString("UID"),

            specName: "",
            specAffiliation: "",
            specCited: "",
            specWorkNum: "",

            specJournalNum: "",
            specSessionNum: "",
            specZhuanzhuNum: "",
            specElseNum: "",

            simiSpec: [],

            specWork: [],
            select: "2",
            total: 0,
            pageSize: 2,
            currentPage: 1,
            isAuthSearch: false,
            activeIndex1: '2',
            person_url: './img/person_def.png',
            user_op1:"个人中心"
                },
        methods: {
            Reload_index: function(){
                window.location.href="index.html";
            },
            checkSpec: function(){
                this.$http.post('checkSpec.php', { SID: this.SID, UID: this.UID }, { emulateJSON: true }).then(function (res) {
                    //alert(res.body);
                    specInfo = res.body;
                    this.specName = specInfo[0]["name"];
                    this.specAffiliation = specInfo[0]["affiliation"];
                    this.specCited = specInfo[1]["cited"] + "";
                    this.specWorkNum = specInfo[1]["workNum"] + "";

                    this.specJournalNum = (specInfo[2]["journalNum"]/this.specWorkNum*100).toFixed(2) + "";
                    this.specSessionNum = (specInfo[3]["sessionNum"]/this.specWorkNum*100).toFixed(2) + "";
                    this.specZhuanzhuNum = (specInfo[4]["zhuanzhuNum"]/this.specWorkNum*100).toFixed(2) + "";
                    this.specElseNum = (specInfo[5]["elseNum"]/this.specWorkNum*100).toFixed(2) + "";

                    this.checkSpecWork();
                });
            },
            checkSimiSpec: function(){
                this.$http.post('checkSimiSpec.php', { SID: this.SID, UID: this.UID }, { emulateJSON: true }).then(function (res) {
                    this.simiSpec = res.body;
                });
            },
            checkSpecWork: function(){
                this.$http.post('checkSpecWork.php', { UID: this.UID, specName: this.specName }, { emulateJSON: true }).then(function (res) {
                    this.specWork = res.body;
                    this.total = this.specWork.length / this.pageSize;
                });
            },
            currentChange: function(currentPage){
                this.currentPage = currentPage;
            },
            search:function(){
                if(this.isAuthSearch==false)
                {
                    if(this.input3.trim()=="")
                    {
                        this.$message('输入内容为空');
                        return;
                    }
                    u="search.html?id="+this.select+"&content="+this.input3.trim();
                    window.location.href=encodeURI(u);
                }
                else
                {
                    if(this.input3.trim()=="")
                    {
                        this.$message('输入内容为空');
                        return;
                    }
                    //this.$message(this.input3.trim());
                    u="searchAuth.html?content="+this.input3.trim();
                    window.location.href=encodeURI(u);
                }
            },
            handleCommand: function(command) {
                if(command=='a')
                    this.loginDialog=true;
                //this.$message('click on item ' + command);
            },
            handleSelect: function(key, keyPath) {
                //console.log(key, keyPath);
            }
        }
    });
    vm.checkSpec();
    vm.checkSimiSpec();

</script>

</html>