<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="css/loader.min.css">
</head>
<body style="margin: 0px;">
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.8.2/lib/index.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/jquery.cookie.js" type="text/javascript"></script>
<div id="app">
    <!--导航栏-->
    <el-menu
            :default-active="activeIndex1"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            type="flex" justify="center"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index='1' style="width: 8%;min-width:100px;" @click.native="Reload_index">
            <img src='./img/logo_max.png' style="width: 94px; height: 35px;"></el-menu-item>
        <el-menu-item index="2" style="min-width:150px;font-weight: bold; width: 8%; text-align: center" @click.native="goSearch">学术检索</el-menu-item>
        <el-menu-item index="3" style="min-width:150px;font-weight: bold; width: 8%; text-align: center">学者频道</el-menu-item>
        <!--<el-image src="./img/logo_top.png" style="margin-top: 5px;margin-bottom: 5px"></el-image>-->
        <el-input  placeholder="请输入内容" v-model="input3" class="input-with-select" style="width: 45%; top: 10px;min-width: 400px;margin-left: 8px">
            <el-select v-model="selectAuth" slot="prepend" >
                <el-option label="专家" value="1"></el-option>
            </el-select>
            <el-button slot="append" icon="el-icon-search" @click="search" type="primary" >搜索</el-button>
        </el-input>
        <!--用户!-->
        <el-dropdown @command="handleCommand" style="float: right; right: 10px;top: 10px;text-align: center" trigger="click" >
            <span class="el-dropdown-link" >
              <el-image
                      style="width: 40px; height: 40px;border-radius:50%;overflow: hidden;"
                      :src="person_url"></el-image>
                <i class="el-icon-arrow-down el-icon--right"></i>
              </span>
            <el-dropdown-menu slot="dropdown" >
                <el-dropdown-item command="a">{{user_op1}}</el-dropdown-item>
                <el-dropdown-item command="b">退出</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-menu>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <div class="load_title">欢迎访问星澄学术<br><span>V1.0</span></div>
    </div>
    <el-row>
        <el-col :span="1"><div class="grid-content"></div></el-col>
        <!--主体内容-->
        <el-col :span="16">
            <div class="grid-content">
                <!--标题-->
                <div style="line-height: 2.5; font-size: 30px; margin-left: 45px; font-weight: bold; font-family: Arial;">
                    <el-link type="primary" style=" color:#3A66C8;" ><h2>{{title}}</h2></el-link>
                </div>
                <!--来源、收藏-->
                <div style="line-height: 1.5; font-size: 15px; color: #999;; margin-left: 45px; font-family: Arial;">
                    <span>来自 {{source}}</span>
                    <span>&nbsp;|&nbsp;</span>
                    <span>
                        <a class="el-icon-star-off">
                            收藏 {{clectCnt}}
                        </a>
                        &nbsp; &nbsp;阅读量 {{readCnt}}
                    </span>
                </div>
                <!--详情-->
                <!--作者-->
                <div style="line-height: 1.7; margin-top:25px; font-size: 15px; color: #999;; margin-left: 45px; font-family: Arial;">
                    <el-col :span="2">
                        作者：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </el-col>
                    <el-col :span="22">
                        <a :href="'./expert.html?UID='+userID+'&SID='+authors['sid']" target="_blank" style=" color:#3A66C8; text-decoration: none" v-for="authors in author">
                            {{authors.name}}&nbsp
                        </a>
                    </el-col>
                </div>
                <!--摘要-->
                <div style="line-height: 1.7; font-size: 15px; color: #999;; margin-left: 45px; font-family: Arial;">
                    <span>
                        <el-col :span="2"><div>摘要：</div></el-col>
                        <el-col :span="22"><div>{{abstract}}</div></el-col>
                    </span>
                </div>
                <!--关键词-->
                <div style="line-height: 1.7; font-size: 15px; color: #999;; margin-left: 45px; font-family: Arial;">
                    <span>
                        <el-col :span="2"><div>关键词：</div></el-col>

                            <el-col :span="22">
                                <div>
                                    <el-link type="primary" style=" color:#3A66C8;"  @click="">
                                    {{keywords}}
                                    </el-link>
                                </div>
                            </el-col>
                    </span>
                </div>
                <!--DOI-->
                <div style="line-height: 1.7; font-size: 15px; color: #999;; margin-left: 45px; font-family: Arial;">
                    <span>
                        <el-col :span="2"><div>DOI：</div></el-col>
                        <el-col :span="22"><div>&nbsp;&nbsp;{{doi}}</div></el-col>
                    </span>
                </div>
                <!--被引量-->
                <div style="line-height: 1.7; font-size: 15px; color: #999;; margin-left: 45px; font-family: Arial;">
                    <span>
                        <el-col :span="2"><div>被引量：</div></el-col>
                            <el-col :span="22"><div><el-link type="primary" style=" color:#3A66C8;">{{citedNum}}</el-link></div></el-col>
                        </a>
                    </span>
                </div>
                <!--收藏、引用、分享-->
                <div style=" font-size: 15px; margin-left: 45px;  font-family: Arial;">
                    <el-col :span="3"><el-button type="primary" style="margin-top:10px; width: 90%; " round><> 引用</el-button></el-col>
                    <el-col :span="3">
                        <el-button type="primary" style="margin-top:10px; width: 90%; " round class="el-icon-share" id = "share" onclick = "shareToTencent()">
                            分享
                        </el-button>
                    </el-col>
                </div>
                <!--全部来源、全文下载-->
                <div style="margin-left: 45px; font-weight: bold; font-family: Arial;">
                    <el-col :span="24" style="margin-top: 30px;">
                        <el-tabs type="border-card" v-model="activeName1" @tab-click="handleClick1">
                            <el-tab-pane label="全部来源" name="allsource">
                                <el-col :span="12">
                                    <el-link href="#" class="allsources">Springer</el-link>
                                </el-col>
                                <el-col :span="12">
                                    <el-link href="#" class="allsources">The Lancet</el-link>
                                </el-col>
                                <el-col :span="12">
                                    <el-link href="#" class="allsources">ResearchGate</el-link>
                                </el-col>
                                <el-col :span="12">
                                    <el-link href="#" class="allsources">EBSCO</el-link>
                                </el-col>
                                <el-col :span="12">
                                    <el-link href="#" class="allsources">360 Link</el-link>
                                </el-col>
                            </el-tab-pane>
                            <!--
                            <el-tab-pane label="全文下载" name="download">
                                <el-col :span="12">
                                    <el-link href="#" class="allsources">The Lancet</el-link>
                                </el-col>
                                <el-col :span="12">
                                    <el-link href="#" class="allsources">ResearchGate</el-link>
                                </el-col>
                                <el-col :span="12">
                                    <el-link href="#" class="allsources">EBSCO</el-link>
                                </el-col>
                            </el-tab-pane>
                            -->
                        </el-tabs>
                    </el-col>
                </div>
                <!--相似文献、引用文献-->
                <div style="margin-left: 45px; font-weight: bold; font-family: Arial;">
                    <el-col :span="24" style="margin-top: 30px;">
                        <el-tabs v-model="activeName2" @tab-click="handleClick2">
                            <el-tab-pane label="相似文献" name="similar">
                                <div class="in_conternt_reslist">
                                    <div class="result" style="line-height: 1.5; font-family: Arial;"
                                             v-for="simi in similarList.slice((currentPage-1)*pageSize,currentPage*pageSize)">
                                            <div class="res_con">
                                                <a
                                                        :href="'./works.html?PID='+simi['id']"
                                                        target="_blank">{{simi["title"]}}</a>
                                                <div class="res_info">
                                                    <div style="line-height: 1.5; font-size: 8px; color: #999;; font-family: Arial;">
                                                        <span class="res_year">{{simi["author"]}}</span>
                                                        <span>
                                                            <div> {{simi["abstract"]+""}}</div>
                                                        </span>
                                                    </div>
                                                    <div style="line-height: 1.5; font-size: 8px; color: #999;; font-family: Arial;">
                                                    <span>
                                                        <span>被引量:&nbsp;</span>
                                                        <a
                                                        target="_blank">{{simi["cited"]}}
                                                        </a>
                                                    </span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="reqdata" style="display:none"></div>
                                        </div>
                                </div>
                                <div class="res-pages-wr">
                                    <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize" @current-change="currentChange"
                                                   style="padding: 10px 0; text-align: center;">
                                    </el-pagination>
                                </div>
                            </el-tab-pane>
                            <!--
                            <el-tab-pane label="引用文献" name="cited">
                                <div style="line-height: 1; font-weight: bold; font-family: Arial;">
                                    <el-link href="#" style="color:#3A66C8;">{{cited}}</el-link>
                                </div>
                            </el-tab-pane>
                            -->
                        </el-tabs>
                    </el-col>
                </div>
            </div>
        </el-col>
        <el-col :span="6">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>评论</span>
                    <el-button style="float: right;" type="text" @click="addComment">+&nbsp;&nbsp;&nbsp;添加评论</el-button>
                </div>
                <div v-for="comm in comments" :key="o" class="text item">
                    {{comm}}
                </div>
            </el-card>
        <el-col :span="1">
            <div class="grid-content">

            </div>
        </el-col>
    </el-row>
    <el-dialog
            title="登录"
            :visible.sync="loginDialog"
            :lock-scroll="false"
            width="30%">
    <span >
        <el-tabs v-model="actTab" style="min-height: 320px;">
            <el-tab-pane label="登录" name="first">
                <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm2" style="width: 85%">
                    <el-form-item label="用户名" prop="uName">
                        <el-input v-model="ruleForm2.uName"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="pass">
                        <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item >
                        <el-button type="primary" @click="submitForm2('ruleForm2')">登录</el-button>
                        <el-button @click="resetForm('ruleForm2')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="注册" name="second">
                <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" style="width: 85%">
                    <el-form-item label="用户名" prop="age">
                        <el-input v-model="ruleForm.age"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="pass">
                        <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="checkPass">
                        <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item >
                        <el-button type="primary" @click="submitForm('ruleForm')">注册</el-button>
                        <el-button @click="resetForm('ruleForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
        </el-tabs>
    </span>
    </el-dialog>

</div>
<div id="sys-loading" class=""><div class="spinner">
    <div class="loader-inner line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div></div>
</body>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 100%;
    }
    .el-select .el-input {
        width: 130px;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }
    .el-row {
        margin-bottom: 20px;
    }
    .el-col {
        border-radius: 4px;
    }
    .bg-purple-dark {
        background: #99a9bf;
    }
    .bg-purple {
        background: #d3dce6;
    }
    .bg-purple-light {
        background: #e5e9f2;
    }
    .grid-content {
        min-height: 36px;
    }
    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
    .allsources{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        color:#3A66C8;
    }
</style>

<script>
    document.onreadystatechange = subSomething;
    function subSomething() {
        //当页面加载状态
        if (document.readyState == "complete") {
            //延迟一秒关闭loading
            $('#sys-loading').delay(200).hide(0);
            $('.spinner').delay(200).fadeOut('slow');
        }
    }
    $(window).load(function(){
        $('body').addClass('loaded');
        $('#loader-wrapper .load_title').remove();
    });
    function created() {
        //判断是否登录
        if($.cookie('_UserId')!=null) {
            this.user_op1="个人中心";
            if($.cookie('_PersonUrl')!=null)
            {
                this.person_url=$.cookie('_PersonUrl')
            }
        }
        else{
            this.user_op1="登录";
        }
        this.getInfo();
    }
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r =  window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return 1;
    }
    
    var vm = new Vue({
        el: '#app',
        data(){
            //登录/注册的数据校验
            var checkAge = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('用户名不能为空'));
                }
                setTimeout(() => {
                    if (!value) {
                        callback(new Error('用户名不能为空'));
                    }
                    else{
                        callback();
                    }
                }, 500);
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            var checkuName = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('用户名不能为空'));
                }
                setTimeout(() => {
                    if (!value) {
                    callback(new Error('请输入用户名'));
                    }  
                    else {
                        callback();
                    }
                }, 500);
            };
            var checkPass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    callback();
                }
            };
            return {
                //登录注册提交的表单
                ruleForm: {
                    pass: '',
                    checkPass: '',
                    age: ''
                },
                rules: {
                    pass: [{ validator: validatePass, trigger: 'blur' }],
                    checkPass: [{ validator: validatePass2, trigger: 'blur' }],
                    age: [{ validator: checkAge, trigger: 'blur' }]
                },
                ruleForm2: {
                    pass: '',
                    uName: ''
                },
                rules2: {
                    pass: [{ validator: checkPass, trigger: 'blur' }],
                    uName: [{ validator: checkuName, trigger: 'blur' }]
                },
                user_op1:"登录", //点击用户之后弹出的选项
                loginDialog: false, //控制登录的dialog
                actTab:"first",
                title: '',
                sourceList: [],
                activeIndex: '1',
                activeIndex2: '1',
                activeIndex1: '2',
                input1: '',
                input2: '',
                input3: '',
                select: '',
                fits: ['cover'],
                url: '',
                clectCnt: '',
                readCnt: '',
                authorList: [],
                abstract: '',
                citedNum: '',
                activeName1: 'allsource',
                activeName2: 'similar',
                cited: '',
                paperID: getQueryString("PID"),
                userID: '1',
                userName: '林未',
                keywords: "",
                source: "",
                author: [],
                doi: "",
                similarList: [],
                readCnt: "",
                pageSize: 2,
                currentPage: 1,
                total: 0,
                user_op1: "个人中心",
                person_url: './img/person_def.png',
                comments: [],
                selectAuth:"1",
            };
        },
        methods: {
            createPerson: function () {
                this.people.push(this.newPerson);
                // 添加完newPerson对象后，重置newPerson对象
                this.newPerson = {name: '', age: 0, sex: 'Male'}
            },
            deletePerson: function (index) {
                // 删一个数组元素
                this.people.splice(index, 1);
            },
            handleSelect: function (key, keyPath) {
                console.log(key, keyPath);
            },
            handleCommand: function(command) {
                if(command=='a')
                {
                    if($.cookie('_UserId')!=null)
                    {
                        //跳转到个人中心
                        if($.cookie('_UserType')=="3")
                            window.location.href="checkAuth.html";
                        else
                            window.location.href="personal_index.html";
                    }
                    else
                    {
                        this.loginDialog=true;
                    }
                }
                else
                {
                    if($.cookie('_UserId')!=null)
                    {
                        //logout
                        this.$http.post('logout.php',{userId:$.cookie('_UserId'),},{emulateJSON:true}).then(
                                function(res){
                                    var r=res.body;
                                    //console.log(r);
                                    if(r==0)
                                    {
                                        this.$message('退出登录');
                                        $.removeCookie('_UserId' ,{path:'/'});
                                        $.removeCookie('_UserName' ,{path:'/'});
                                        $.removeCookie('_PassWord' ,{path:'/'});
                                        $.removeCookie('_UserType' ,{path:'/'});
                                        $.removeCookie('_PersonUrl' ,{path:'/'});
                                        this.person_url='./img/person_def.png';
                                        this.user_op1='登录'
                                    }
                                    else
                                    {
                                        this.$message('操作失败，请检测网络状况后重新尝试');
                                    }
                                },
                                function(res){console.log(res.status);}
                        );
                    }
                    else
                    {
                        this.$message("未登录")
                    }

                }
            },
            handleClick1: function (tab, event) {
                console.log(tab, event);
            },
            handleClick2: function (tab, event) {
                console.log(tab, event);
            },
            //查看论文
            checkWork: function () {
                this.$http.post('checkWork.php', {
                    paperID: this.paperID,
                    userID: this.userID
                }, {emulateJSON: true}).then(function (res) {
                    console.log(this.paperID)
                    console.log(res.body);
                    var workInfo = res.body;
                    this.title = workInfo[0]["title"];
                    this.title.trim();
                    this.abstract = workInfo[0]["abstract"];
                    this.citedNum = workInfo[0]["cited"];
                    this.keywords = workInfo[0]["keyword"];
                    this.doi = workInfo[0]["doi"];
                    this.source = workInfo[0]["source1"];
                    this.sourceList = workInfo[0];
                });
            },
            //资源作者
            checkResourceAuthor: function () {
                this.$http.post('resourseAuthor.php', {paperID: this.paperID}, {emulateJSON: true}).then(function (res) {
                    //console.log(res.body);
                    this.authorInfo = res.body;
                    this.author = res.body;
                });
            },
            //查看评论
            checkComment: function () {
                this.$http.post('checkComment.php', {paperID: this.paperID}, {emulateJSON: true}).then(function (res) {
                    console.log(this.paperID)
                    console.log(res.body);
                });
            },
            //阅读量
            //查看相似文献
            checkSimiWork: function () {
                this.$http.post('solrMLT.php', {id: this.paperID}, {emulateJSON: true}).then(function (res) {
                    //alert(res.body);
                    //console.log(res.body);
                    var workInfo = res.body;
                    this.similarList = res.body;
                    this.total = Math.ceil(this.similarList.length / this.pageSize);
                    //alert(this.total);
                });
            },
            //引用文献
            //分页操作
            currentChange: function (currentPage) {
                this.currentPage = currentPage;
            },
            //搜索
            search: function () {
                //发送get请求
                if (this.input3.trim() == "") {
                    this.$message('输入内容为空');
                    return;
                }
                this.searchContent = this.input3.trim();
                this.searchId = parseInt(this.select);
                u = "search.html?id=" + this.select + "&content=" + this.input3.trim()
                //location.search="?id="+this.select+"&content="+this.input3.trim();
                history.replaceState({status: 0}, "", u);
                this.getInfo()
                this.currentPage = 1
            },
            addComment: function () {
                this.$prompt('', '评论', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^.{1,140}$/,
                    inputErrorMessage: '填写内容长度在1到140字符之间！'
                }).then(({value}) => {
                    this.$http.post('comment.php', {
                    userId: this.userID,
                    content: value,
                    paperID: this.paperID
                }, {emulateJSON: true}).then(function (res) {
                    //alert(res.body);
                    console.log(value);
                    console.log(res.body);
                    //alert(this.total);
                });
                this.$message({
                    type: 'success',
                    message: '提交成功！',

                });
            }).catch(() => {
                    this.$message({
                    type: 'info',
                    message: '取消评论'
                });
            })
                ;
            },

            //点击用户头像
            handleCommand: function (command) {
                if (command == 'a') {
                    if ($.cookie('_UserId') != null) {
                        //跳转到个人中心
                        if ($.cookie('_UserType') == "3")
                            window.location.href = "checkAuth.html";
                        else
                            window.location.href = "personal_index.html";
                    }
                    else {
                        this.loginDialog = true;
                    }
                }
                else {
                    if ($.cookie('_UserId') != null) {
                        //logout
                        this.$http.post('logout.php', {userId: $.cookie('_UserId'),}, {emulateJSON: true}).then(
                                function (res) {
                                    var r = res.body;
                                    console.log(r);
                                    if (r == 0) {
                                        this.$message('退出登录');
                                        $.removeCookie('_UserId', {path: '/'});
                                        $.removeCookie('_UserName', {path: '/'});
                                        $.removeCookie('_PassWord', {path: '/'});
                                        $.removeCookie('_UserType', {path: '/'});
                                        $.removeCookie('_PersonUrl', {path: '/'});
                                        this.person_url = './img/person_def.png';
                                        this.user_op1 = '登录'
                                    }
                                    else {
                                        this.$message('操作失败，请检测网络状况后重新尝试');
                                    }
                                },
                                function (res) {
                                    console.log(res.status);
                                }
                        );
                    }
                    else {
                        this.$message("未登录")
                    }
                }
            },
            //提交表单
            submitForm2: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid)
                {
                    this.$http.post('login.php', {
                        nickname: this.ruleForm2.uName,
                        password: this.ruleForm2.pass
                    }, {emulateJSON: true}).then(
                            function (res) {
                                var r = res.body;
                                if (r.result == 0) {
                                    $.cookie('_UserName', this.ruleForm2.uName, {expires: 7, path: '/'});
                                    $.cookie('_UserId', r.id, {expires: 7, path: '/'});
                                    $.cookie('_PersonUrl', r.avator, {expires: 7, path: '/'});
                                    $.cookie('_UserType', r.type, {expires: 7, path: '/'});
                                    $.cookie('_PassWord', this.ruleForm2.pass, {expires: 7, path: '/'});
                                    this.user_op1 = "个人中心";
                                    this.person_url = $.cookie('_PersonUrl')
                                    this.$message("登录成功")
                                }
                                else if (r.result == 2) {
                                    this.$message("密码错误")
                                }
                                else if (r.result == 3) {
                                    this.$message("用户已登录")
                                }
                                else if (r.result == 1) {
                                    this.$message("用户不存在")
                                }
                                else {
                                    this.$message("登录失败，请检查网络状况后重新尝试")
                                }
                                this.$refs[formName].resetFields();
                            },
                            function (res) {
                                console.log(res.status);
                            }
                    );
                }
                else
                {
                    this.$message('登录失败')
                    return false;
                }
            })
                ;
                this.loginDialog = false;
            },
            //提交表单
            submitForm: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid)
                {
                    this.$http.post('register.php', {
                        nickname: this.ruleForm.age,
                        password: this.ruleForm.pass
                    }, {emulateJSON: true}).then(
                            function (res) {
                                var r = res.body;
                                if (r == 0) {
                                    this.$message('注册成功');
                                }
                                else if (r == 1) {
                                    this.$message('用户名已存在');
                                }
                                else {
                                    this.$message('注册失败，请检测网络状况后重新尝试');
                                }
                                this.$refs[formName].resetFields();
                            },
                            function (res) {
                                console.log(res.status);
                            }
                    );
                }
                else
                {
                    this.$message('注册信息不全');
                    return false;
                }
            })
                ;
                this.loginDialog = false;
            },
            //清空表单
            resetForm: function (formName) {
                this.$refs[formName].resetFields();
            },
            Reload_index: function(){
                window.location.href="index.html";
            },
            getInfo: function(){
                var u=decodeURI(location.search);
                if(u.indexOf("?")>-1){
                    var paraStr=u.split("?")[1];
                    this.searchContent=paraStr.split("=")[1].trim()
                    this.$http.post('searchSpec.php',{specname:this.searchContent},{emulateJSON:true}).then(
                            function(res){
                                this.info=res.body;
                            },
                            function(res){console.log(res.status);}
                    );
                }else{
                    this.$alert('没有搜索内容', '警告', {
                        confirmButtonText: '确定',
                        callback: action => {
                        window.location.href="index.html";
                }
                });
                }
                this.input3=this.searchContent;
            },
            goSearch: function(){
                //window.location.href="index.html";
                u="search.html?id=2&content="+this.searchContent;
                window.location.href=encodeURI(u);
            },
            htmlEscape(str) {
                str=str.replace(/&lt;/g,"<")
                str=str.replace(/&gt;/g,">")
                return str
            },
            checkDet(index){
                var i="1"
                u="expert.html?UID="+i+"&SID="+index;
                window.location.href=encodeURI(u);
            },
            search:function(){
                //发送get请求
                if(this.input3.trim()=="")
                {
                    this.$message('输入内容为空');
                    return;
                }
                this.searchContent=this.input3.trim();
                u="searchAuth.html?content="+this.input3.trim();
                history.replaceState({status: 0}, "", u);
                this.getInfo()
                this.currentPage=1
            }
        }
    });
    vm.checkWork();
    vm.checkResourceAuthor();
    //vm.checkVisit();
    vm.checkSimiWork();
    vm.checkComment();
</script>

<script type="text/javascript">

</script>
</html>