<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>个人中心</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="css/loader.css">
    
         <!-- 引入组件库 -->
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/element-ui/lib/index.js"></script>
      <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

      <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
      <script src="js/jquery.cookie.js" type="text/javascript"></script>  

      <link href="a.css" rel="stylesheet" type="text/css"/>
  </head>
     
  <body>
      <div id="app" min-width = "1000px">

          <el-menu
          :default-active="activeIndex1"
          class="el-menu-demo"
          mode="horizontal"
          @select="handleSelect"
          background-color="#545c64"
          text-color="#fff"
          type="flex" justify="center"
          active-text-color="#ffd04b">
          <el-menu-item index='1' style="width: 8%;min-width:150px;" @click.native="Reload_index">
          <img src='./img/logo_max.png' style="width: 94px; height: 35px;"></el-menu-item>
          <el-menu-item index="2" style="min-width:150px;font-weight: bold; width: 8%; text-align: center" @click.native="goindex">学术检索</el-menu-item>
          <!--用户!-->
          <el-dropdown @command="handleCommand" style="float: right; right: 10px;top: 10px;text-align: center" trigger="click" >
            <span class="el-dropdown-link" >
              <el-image
                      style="width: 40px; height: 40px;border-radius:50%;overflow: hidden;"
                      :src="person_url"></el-image>
                <i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown" >
                  <el-dropdown-item command="a">{{user_op1}}</el-dropdown-item>
                  <el-dropdown-item command="b">退出</el-dropdown-item>
              </el-dropdown-menu>
          </el-dropdown>
        </el-menu>
        
        
        <el-container style="height: 100%; border: 1px solid #eee">
            <el-aside width="250px" style="background-color: rgb(238, 241, 246)">
                <el-menu>
                  <el-submenu index="1">
                    <template slot="title" >个人信息</template>
                    <el-menu-item-group>
                      <el-menu-item index="1-1" @click.native="personal_index">查看个人信息</el-menu-item>
                      <el-menu-item index="1-2" @click.native="change_self_info">修改个人信息</el-menu-item>
                    </el-menu-item-group>
                  </el-submenu>
                  <el-submenu index="2">
                    <template slot="title" style="text-align: left">历史记录</template>
                    <el-menu-item-group>
                      <el-menu-item index="2-1" @click.native="browse_history">浏览记录</el-menu-item>
                      <el-menu-item index="2-3" @click.native="comment_history">评论记录</el-menu-item>
                      <el-menu-item index="2-4" @click.native="collect_history">收藏记录</el-menu-item>
                    </el-menu-item-group>               
                    </el-submenu>
                  </el-submenu>
                </el-menu>
              </el-aside>
             
            <el-container>
                
                <el-header style=" margin-left :100px;margin-top: 30px;margin-bottom: 20px; text-align: left; font-size: 20px" v-if="tabletype=='1'">
                  
                  浏览记录
                  </el-header>
              
               
                    <el-header style=" margin-left :100px;margin-top: 30px;margin-bottom: 20px; text-align: left; font-size: 20px" v-else-if="tabletype=='3'">
                  
                        评论记录
                      </el-header>
                
                    <el-header style=" margin-left :100px;margin-top: 30px;margin-bottom: 20px; text-align: left; font-size: 20px" v-else>
                
                      收藏记录
                    </el-header>
              
              <el-main>
                  <div v-if="tabletype=='1'">
                      <el-table :data="tableData1">
                          <el-table-column prop="time" label="时间" >
                          </el-table-column>
                          <el-table-column prop="title" label="题目" >
                          </el-table-column>
                          <el-table-column prop="author" label="作者">
                          </el-table-column>
                          <el-table-column prop="cited" label="被引次数">
                          </el-table-column>
                      </el-table>
                  </div>
                  
                  <div v-else-if="tabletype=='3'">
                      <el-table :data="tableData">
                          <el-table-column prop="time" label="时间" >
                          </el-table-column>
                          <el-table-column prop="content" label="评论内容" >
                          </el-table-column>
                          <el-table-column prop="paperName" label="科技成果名称">
                          </el-table-column>
                      </el-table>
                  </div>
                  <div v-else>
                    <el-table :data="tableData3">
                        <el-table-column prop="title" label="题目" >
                        </el-table-column>
                        <el-table-column prop="time" label="收藏时间">
                        </el-table-column>
                        <el-table-column prop="citedNum" label="被引次数">
                        </el-table-column>
                    </el-table>
                  </div>

                
                
                  
              </el-main>
            </el-container>
          </el-container>
    </div>
    <div id="sys-loading" class=""><div class="spinner">
        <div class="loader-inner line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        </div>
        </div></div>
    <!-- built files will be auto injected -->
    <script>
      document.onreadystatechange = subSomething;
      function subSomething() {
      //当页面加载状态
      if (document.readyState == "complete") {
      //延迟一秒关闭loading
      $('#sys-loading').delay(500).hide(0);
      $('.spinner').delay(500).fadeOut('slow');
      }
      }
        var Main = {
            data() {
              
              return {
                userID: '',
                tabletype:'',
                tableData: [],
                tableData1: [],
                tableData3: [],
                activeIndex1: '2',
                person_url: './img/person_def.png',
                isAuthSearch: false,
                user_op1:"个人中心",
              }
               
            },


          created () {
          
            
                if($.cookie('_PersonUrl')!=null)
                {
                    this.person_url=$.cookie('_PersonUrl')
                }   

                if($.cookie('_UserId')!=null)
                {
                this.userID=$.cookie('_UserId');
                console.log(this.userID);
                }
                else{
                  window.location.href="index.html"; 
                console.log(error);
                }

            
            

          this.getList()
          },


          methods : {
            goindex(){
                window.location.href='index.html'
            },
            personal_index(){
              window.location.href = "personal_index.html";
            },
            change_self_info(){
              window.location.href = "change_self_info.html";
            },
            comment_history(){
              window.location.href = "history.html?3";
            },
            collect_history(){
              window.location.href = "history.html?4";
            },
            browse_history(){
              window.location.href = "history.html?1";
            },


            handleSelect: function(key, keyPath) {
                //console.log(key, keyPath);
            },
            handleCommand: function(command) {
                if(command=='a')
                {
                    if($.cookie('_UserId')!=null)
                    {
                        //跳转到个人中心
                        if($.cookie('_UserType')=="3")
                            window.location.href="checkAuth.html"; 
                        else
                            window.location.href="personal_index.html"; 
                    }
                    else
                    {
                        this.loginDialog=true;
                    }
                }
                else
                {
                    if($.cookie('_UserId')!=null)
                    {
                        //logout
                        this.$http.post('logout.php',{userId:$.cookie('_UserId'),},{emulateJSON:true}).then(       
                            function(res){
                                var r=res.body;
                                //console.log(r);
                                if(r==0)
                                {
                                    this.$message('退出登录');
                                    $.removeCookie('_UserId' ,{path:'/'});
                                    $.removeCookie('_UserName' ,{path:'/'});
                                    $.removeCookie('_PassWord' ,{path:'/'});
                                    $.removeCookie('_UserType' ,{path:'/'});
                                    $.removeCookie('_PersonUrl' ,{path:'/'});
                                    this.person_url='./img/person_def.png';
                                    this.user_op1='登录'
                                }
                                else
                                {
                                    this.$message('操作失败，请检测网络状况后重新尝试');
                                }
                            },
                            function(res){console.log(res.status);}
                        );
                    }
                    else
                    {
                        this.$message("未登录")
                    }
                    
                }
            },
            Reload_index: function(){
                window.location.href="index.html";
            },


            
          //  获取数据
            getList () {
                var str = window.location.search.substr(1,1);
                this.tabletype = str;   //location.search是从当前URL的?号开始的字符串  


                this.$http.post('checkMyComment.php',{userID:this.userID},{emulateJSON:true}).then(function(res){
                    this.tableData = res.body ;
                   //alert(res.body);
                   //console.log(res.body);
                },function(res){
                    console.log(res.status);
                    this.$message('请求页面失败');
                });

                this.$http.post('checkBrowse.php',{uid:this.userID},{emulateJSON:true}).then(function(res){
                    this.tableData1 = res.body ;
                   //alert(res.body);
                   //console.log(res.body);
                },function(res){
                    console.log(res.status);
                    this.$message('请求页面失败');
                });
               

                this.$http.post('collectSource.php',{userID:this.userID},{emulateJSON:true}).then(function(res){
                  this.tableData3 = res.body ;
                 console.log(res.body);
                },function(res){
                    console.log(res.status);
                    this.$message('请求页面失败');
                });
              }

          },
}



var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
      </script>
  </body>

  
  
  

</html>
